<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Hi <%= @subscriber.name %>
    <br />
    <h1>Weekly Newsletter</h1>
    <p>
      You have been subscribed to our weekly newsletter as: <%= @subscriber.email %>.<br />
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>

