<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @subscriber.name %></p>
    <h1>Thank you for your subscription to our Newsletter</h1>
    <p>
      Your email address: <%= @subscriber.email %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>
    </p>
    <p>Thanks for your interest and have a great day!</p>
  </body>
</html>
